/* .label-placeholder {
	max-width: 538px;
	max-height: 538px;
} */
.text-placeholder {
	text-align: center;
	transform: translateY(263px);
}

ul, li {
	list-style-type: none;
}

a {
	color: #000;
}

.container {
	background-color: #e5dfb9;
}

.titel {
	height: 10vh;
	background-color: #e2ddc0;
}

.row-backgr {
	background-color: #ede8ce;
}

.col-backgr {
	background-color: #f2eeda;
}

.page-index {
	min-width: 76px;
	margin: 2px;
}

.page-index-container {
	max-width: 570px;
}

.spinner {
	width: 64px;
	height: 64px;
	margin: auto;
	animation: ROTATE 4s infinite linear;
}

@-webkit-keyframes ROTATE {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(359deg);
	}
}

@media (max-width: 410px) {
	h3 {
		font-size: 1.2rem !important;
	}

	.btn {
		font-size: 0.5rem !important;
		line-height: 0.5rem !important;
		margin-right: 2px;
	}
}