.label-placeholder {
	width: 538px;
	height: 538px;
}

.text-placeholder {
	text-align: center;
	transform: translateY(263px);
}

ul, li {
	list-style-type: none;
}

.container {
	background-color: #e5dfb9;
}

.titel {
	height: 10vh;
	/* margin-bottom: 3rem; */
	background-color: #e2ddc0;
}

.row-backgr {
	background-color: #ede8ce;
}

.col-backgr {
	background-color: #f2eeda;
}

.page-index {
	min-width: 76px;
	margin: 2px;
}

.page-index-container {
	max-width: 570px;
}